.main {
  display: grid;
  place-content: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.name {
  font-size: 4rem;
}

.header {
  text-transform: capitalize;
  font-weight: bold;
}

.desc {
  margin-top: -1rem;
  font-weight: normal;
}

.stats>div {
  margin-top: 2rem;
}

.stat {
  font-size: 3rem;
  font-weight: bold;
}